<style type="text/css">

h3.wims_docu_titleb { color:#A52A2A;}
h1.wims_docu_title {
 background-color: #3333B3;
 color:white;
 font-size: 200%;
}

.left_toc, .right_toc { background-color: white;}

/*Pour mettre en relief l'endroit où on est dans les menus*/
.left_selection,.right_selection{
  background-color:#A9C606;
}

/*Pour les menus latéraux, la gestion des liens*/
.left_toc a,.right_toc a {}

/* menu en haut ou en bas*/
.wims_chemin {}

 /*section*/
span.section { }
span.subsection { }
span.subsubsection {
          color: #A52A2A;
          text-transform: none;
          background-color: #FFFFCC;
}

/*Pour les theorem, définition, etc... ce qui n'est pas défini est pris aux remarques*/

h2.exercice {
 background-color: #FFF04F;
 font-size: 120%;
}

div.exercice {
          background-color: #FFFBD6;
		  padding: 1%;
		  margin-left: 3%;
		  margin-right: 3%;
		  margin-bottom:5%;
		  border:solid;
		  border-width: thin;
          border-color:#FFF04F;
}

span.exercice {
          color: #000066;
          font-family: sans-serif;
          font-weight: bold;
          text-transform: none  ;
}

h2.exemple {
 background-color: #EE8062;
 font-size: 120%;
}

div.exemple {
          background-color:  #FEE3D0;
		  padding: 1%;
		  margin-left: 3%;
		  margin-right: 3%;
		  margin-bottom:5%;
		  border:solid;
		  border-width: thin;
          border-color:#EE8062;
          color: black;
}

span.exemple {
          color: #000033;
          font-family: sans-serif;
          font-weight: bold;
}

h2.defn{
 background-color: #A8DCEA;
 font-size: 120%;

}

div.defn{
          background-color: #EEF8FA;
		  padding: 1%;
		  margin-left: 3%;
		  margin-right: 3%;
		  margin-bottom:5%;
		  border:solid;
		  border-width: thin;
          border-color:#A8DCEA;
}

span.defn{
	font-weight: bold;
          font-family: sans-serif;
          color: #666633;
}


div.thm {
          background-color: #FEEEEC;
		  padding: 1%;
		  margin-left: 3%;
		  margin-right: 3%;
		  margin-bottom:5%;
		  border:solid;
		  border-width: thin;
          border-color:#F4B3B3;
}

 span.thm {
          color: #930;
          font-family:  sans-serif;
}

h2.rqm {
   background-color: #8E4485;
}

div.rqm {
            background-color: #E0CEDB;
		    padding: 1%;
		    margin-left: 3%;
		    margin-right: 3%;
		    margin-bottom:5%;
		    border:solid;
		    border-width: thin;
            border-color:#8E4485;
            color: black;
}

span.rqm {
            color: #930;
            font-family:  sans-serif;
            font-weight: bold;
}

h2.rap {
   background-color: #00FF00;
}

div.rap {
            background-color: #00FFCC;
		    padding: 1%;
		    margin-left: 3%;
		    margin-right: 3%;
		    margin-bottom:5%;
		    border:solid;
		    border-width: thin;
            border-color:#00FF00;
            color: black;
}

span.rap {
            color: #930;
            font-family:  sans-serif;
}



h2.dem {
 background-color:#FFFFCC;
 font-size: 120%;
 padding-left: 1em;
 padding-right: 0.3em;
}
 div.dem {
          background-color: white;
		  padding: 1%;
		  margin-left: 3%;
		  margin-right: 3%;
		  margin-bottom:5%;
		  border:solid;
		  border-width: thin;
          border-color:#FFCCFF;
          color: black;
}

span.dem {
          color: #000066;
          font-family: sans-serif;
          font-weight: bold;}

.fin { background-color: #FFFFCC;
   font-size: 90%;
   color: navy ;
   padding-left: 0.3em;
   text-align: right ;
   margin-right: 10%;
}

h2.quote {
 background-color: #00FF00;
 font-size: 100%;
}

div.quote {
          padding: 1%;
          margin: 0 7% 0 1%;
          background-color:white;
}

span.quote { color:blue;}


h2.rem {
 background-color: #FF9900;
 font-size: 120%;
}

div.rem {
          background-color: white;
		  padding: 1%;
		  margin-left: 3%;
		  margin-right: 3%;
		  margin-bottom:5%;
		  border:solid;
		  border-width: thin;
          border-color:#FFCCFF;
          color: black;
}

span.rem {
          color: #930;
          font-family:  sans-serif;
}


/* les listes*/
ol li { list-style:decimal ;}
ol ol li {list-style: lower-alpha ;}
ol ol ol li {list-style:lower-roman;}
ol ol ol ol li {list-style: upper-alpha;}
ol.itemize li {list-style:disc ;}
ul.itemize li {list-style:disc ;}
ol.enumerate li {list-style:decimal ;}
ol.trivlist li {list-style:none ;}
ol.description li {list-style:none ;}
span.description_item {font-weight:bold;}

div.desc_item {
          background-color: white;
          padding: 1%;
          margin: 0 5%;
          border: solid;
          border:solid;
          border-width: thin;
          border-color:#FFCCFF;
          padding-right: 0.3em;
}

div.ma_liste_item {

}
ul.ma_liste li {list-style:none ;
          background-color: white;
          margin: 0 5%;

          border-width: thin;
          padding-right: 0.3em;}

ul.mabliste li {list-style-type:square ;}

 /*Pour les algorithmes*/

h2.algorithm {
 background-color: #FF3333;
 font-size: 100%;
}

div.algorithm {
       background-color:#FFFFCC;
       padding: 2%;
       margin: 0 5%;
       border: solid;
       padding-right: 0.3em;
       border-color: #D9D2C0;}
h4.algo_titre {
 background-color: #CCFF00;
 padding: 1.0em;
 margin: 0 1.0em;
 font-size: 100%;
 color: black;
 margin-left: 0%;
 text-align: center;
}

.c   { color: #c52d2d;
      font-weight: bold;
}
tt.tt{color:#A52A2A;font-weight: bold;}

.pre {background-color: #FFC;
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-color: #D9D2C0;
  border: solid;
  border-width: thin;
  font-weight:bold;
}
div.code {
          background-color : #ffff99;
          padding : 0.3em;
          margin-left: 10%;
          margin-right: 10%;
          border-width : thin;
          color : black;
}
/* tableaux*/
table.tabular {background-color:white;
  left:auto;
  right:auto;}

.tabular_cell {
  background-color:white;
  padding: 0.6em;
  border:solid;
  border-width: 1px;
  text-align:center;
}

table.tab {background-color:white;
  left:auto;
  right:auto;
}
.tab_cell {background-color:white;
  padding: 0.6em;
  border:solid;
  border-width: 1px;
}

/* divers */
.emph {
          font-weight: bold;
          font-family: sans-serif;
          color: #ff6600;
}
div.math {
          padding: 1%;
          margin: 0 5%;
          text-align: center;
}

.center {text-align: center;}

div.dessin{
  margin: 1.2em 0 0 2em;
  text-align: right;
}

table.mon_tableau {border-collapse:collapse;border: 1px solid #999;}
.row1 {text-align:center;width:100px; height:50px; background-color:green;color:white;}
.row2 {text-align:center;width:100px; height:50px;}
.row3 {text-align:center;width:100px; height:50px; background-color:#87CEEB;font-weight:bold;}
.yellow {text-align:center; background-color:yellow;padding:1em; margin:1em;}

</style>
