<style type="text/css">
.graph {
position: relative;
margin : 0px;
padding : 0px;
width: 900px;
height: auto;
}

#ordonne {
position: absolute;
z-index:2;
text-indent:0px;
left: 100px;
top: 6px;
width : 200px;
height: auto;
border:1px solid #990000;
}
#abscisse {
position: absolute;
z-index:2;
text-indent:0px;
left: 680px;
top: 1322px;
width : 200px;
height: auto;
border:1px solid #990000;
}
#abscissegraph {
position: absolute;
z-index:2;
text-indent:0px;
left: 680px;
top: 722px;
width : 200px;
height: auto;
border:1px solid #990000;
}


</style>
