<style>

.oefstatement {min-width : 1240px ;}

a.lien {
position:relative;
  text-decoration: none;
  color: #719db2;
  border: 1px solid transparent;     /* Les bordures droites et gauches qui apparaîtront au passage de la souris déplaceraient   */
  border-bottom: 1px dotted #3a7f7F; /*   le texte de deux pixels vers la droite. C'est pourquoi on les définit tout le temps à  */
}                                    /*   1 pixel mais invisibles au repos. Note : "transparent" ne fonctionne pas sous IE inférieur à 7.  */
a.lien:hover {
    border: 1px solid #3a7f7F;
       }
a.lien span{display: none}

a.lien:hover span{
/*le contenu de la balise span ne
sera visible que pour l'état a:hover */
 display:block;
 position:absolute;
    top:2em; left:2em; width:9em;
    border:1px solid #3a7f7F;
    background-color:#719db2;
    color:#3a7f7F;
    text-align: center;
    font-weight:none;
    padding:1px;
}
.image {
        background-color: #719db2;
	padding: 30px;
	margin: 30px;
border: 2px solid #3a7f7F;
width: 1000px;/* ordre de gthumb dimension de image */
height: 640px;
overflow: auto;
}
.question {
margin : 10px;
padding : 10px;
background-color : #607f7f;
-moz-border-radius : 0 10px 0 10px;
border: 2px solid #3a7f7F;
text-indent:30px;/* decalage de la première ligne */
text-align:justify;/* texte justifié */
line-height: 2em;
}
#premiereTable{
float: left;
width: 500px;/* ordre de gthumb */
height: auto;
border: 2px solid #3a7f7F;
padding: 10px;/* marge interne */
margin: 0px;/* marge externe */
text-align:center;/* image centrée */
text-indent:0px;
}

#secondTable{
float: right;
width: 500px;/* ordre de gthumb */
height: auto;
border: 2px solid #3a7f7F;
padding: 10px;/* marge interne */
margin: 0px;/* marge externe */
text-align:center;/* image centrée */
text-indent:0px;
}

.consigne {
        background-color: #c0fffe;
	padding: 30px;
	margin: 10px;
-moz-border-radius : 0 40px 0 40px;/* Les bordures arrondies */
border: 2px solid #3a7f7F;
text-align:justify;/* texte justifié */
text-indent:30px;/* decalage de la première ligne */
line-height: 2em;
}

#haut{
float: top;
width: 650px;/* ordre de gthumb dimension de image */
height: 200px;
background: #719db2;
border: 2px solid #3a7f7F;
padding: 10px;/* marge interne */
margin: 10px;/* marge externe */
text-align:center;/* image centrée */
text-indent:0px;
}

#boited{
float: right;
width: auto;/* ordre de gthumb dimension de image 250*/
height: auto;
background: #719db2;
border: 2px solid #3a7f7F;
padding: 10px;/* marge interne */
margin: 30px;/* marge externe */
text-align:center;/* texte centrée */
text-indent:0px;
       }

#boiteg{
float: left;
width: auto;/* ordre de gthumb */
height: auto;
background: #719db2;
border: 2px solid #3a7f7F;
padding: 10px;/* marge interne */
margin: 30px;/* marge externe */
text-align:center;/* image centrée */
text-indent:0px;
       }

p.problematique{
      color:#3a7f7F;
      font-size:200%;
      font-weight: bold;
      text-decoration: underline;
      text-align:center;/* texte centré */
          }

p.special_letter:first-letter {
font-size: x-large;
 font-weight: bold;
border: 1px solid #3a7f7F;
background-color: #719db2;
margin: 1px;
padding: 1px;
color: #3a7f7F;}

.solution{background-color: #b28d5f;
	padding: 10px;
	margin: 10px;
-moz-border-radius : 0 40px 0 40px;/* Les bordures arrondies */
border: 2px solid #3a7f7F;
text-align:justify;/* texte justifié */
text-indent:30px;/* decalage de la première ligne */
color: white;
line-height: 2em;
}

.cours{
      color:green;
      font-size:150%;
      font-weight: bold;
      text-align:justify;/* texte justifié */
        }

.indication {
margin : 10px;
padding : 30px;
background-color : #9accb;
border: 2px solid #3a7f7F;
-moz-border-radius : 0 10px 0 10px;
text-align:justify;/* texte justifié */
}

.aide {
margin : 10px;
padding : 30px;
background-color : #73fffd;
border: 2px solid #3a7f7F;
-moz-border-radius : 0 10px 0 10px;
text-align:justify;/* texte justifié */
}
</style>
