POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=changeme
SECRET_KEY=changeme
CORS_ORIGINS=["https://your-frontend-domain.com"]
NUXT_PUBLIC_API_BASE=https://host.changeme
NUXT_PUBLIC_DEBUG_OEF=false
