# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
.env

# Node
node_modules/
.nuxt/
.output/
dist/

# Base de données
*.db
*.sqlite

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# wims source code
wims
20_diverse_files.txt
100_random_files.txt
batch_test_20.py
batch_test_100.py
compare_compiler.py
oef2pax_compiler.py
README.md
sample_diffs.txt
docs/wims-reference/01-file-format.md
logins.txt
