#commandes{
text-align:center;
margin:20px;
}

#board-form{
display:inline;
}

#game{
width:760px;
background-color:#005b08;
margin:auto;
padding-top:20px;
padding-bottom:20px;
margin-bottom:10px;
}


.ligne-image{
text-align:center;
}


.hidden_image{
display:none;/*visibility:hidden; */
}

.standardButtons{
width:100px;
}

.img_bord{
/*width:12px;*/
}

.small_img_bord{
/*width:6px;*/
}

.img_clou{
/*width:24px;*/
}

.small_img_clou{
/*width:12px;*/
}

.img_col{
/*width:24px;*/
}

.small_img_col{
/*width:12px;
height:4px;*/
}

.activeWords {
color:red;
}