<style>
/*.oefstatement {min-width: 1240px;} 
modifie la coloration du bouton envoyer
input[type=submit] {font-size: 18px;
background-color:#e6ebff;
border:1px solid #393b40;
}*/
input, textarea {font-size: 18px;
  background-color: var(--wims_bgcolor);
  border:1px dotted var(--wims_ref_bgcolor);
  border-radius:5px;}
  
a.bouton,.oef_specialhelp {
font-size: 150%;
margin: 20px;
padding: 10px;
text-decoration: none;
color:#ffffff;
box-shadow: 0px 0px 10px #343434;
border-radius: 15px;
border: 1px solid var(--wims_ref_bgcolor);
background:var(--wims_bgcolor);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="acb0bf", endColorstr="73767f"); /* Pour IE seulement et mode gradient à linear */
background-image: -webkit-gradient(linear, left top, left bottom, from(#acb0bf), to(#73767f));
background-image: -moz-linear-gradient(top center, #acb0bf, #73767f);
background-image: -o-linear-gradient(top, #acb0bf, #73767f); /*uniquement en mode linear*/
}
a.bouton:hover{
cursor: pointer;
}
a.bouton:active{
position: static;
  top: 1px;
}
.encadre {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 10px;
  padding: 30px;
  border-radius: 40px 0px 40px 0px;
  line-height: 2em;
  background-color: var(--wims_bgcolor);
  text-indent: 0px;
}
#haut {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: auto;
  padding: 10px;
  background: var(--wims_ref_bgcolor);
  width: 650px;
  height: auto;
  text-indent: 0px;
}
#boited {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 30px;
  padding: 10px;
  background: var(--wims_ref_bgcolor);
  float: right;
  width: auto;
  height: auto;
  text-indent: 0px;
  text-align: center;
}
#boiteg {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 30px;
  padding: 10px;
  background: var(--wims_ref_bgcolor);
  float: left;
  width: auto;
  height: auto;
  text-indent: 0px;
  text-align: center;
}
#tab{ text-align:center;
overflow: auto;}

p.problematique {
  color: var(--wims_ref_bgcolor);
  font-size: 200%;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
.enonce {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 10px;
  padding: 10px;
  background-color: var(--wims_bgcolor);
  border-radius: 0px 40px 0px 40px;
  text-indent: 0px;
}
.enonce::first-letter {
  border: 1px solid var(--wims_ref_bgcolor);
  margin: 1px;
  padding: 1px;
  font-size: x-large;
  font-weight: bold;
  background-color: var(--wims_bgcolor);
  line-height: 2em;
  color: #000000;
  text-indent: 30px;
}
.question {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 10px;
  padding: 10px;
  background-color: #0001;
  border-radius: 0px 10px 0px 10px;
  border-style: dashed;
  text-indent: 0px;
  line-height: 2em;
}
.question table{
margin-left:auto;
margin-right:auto;
/*width:80%;*/
}
.solution{
  background-color: var(--wims_ref_bgcolor);
  padding: 10px;
  margin: 10px;
  border-radius : 0 40px 0 40px;
  border: 6px double var(--wims_ref_bgcolor);
  text-indent:30px;
  color: white;
}
.jsx {
     border: 2px solid #393b40;
     margin: 1px;
     padding: 1px;
     background-color: #e6ebff;
     border-radius: 4px;
         }
</style>
