<style>
/**** div avec liserés de couleur et background ****/
.euler_quest {
    border-left:0.3em solid blue;
    border-radius:3px;
    background-color:#e3eeff;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    -moz-box-shadow: 6px 6px 12px #888; -webkit-box-shadow: 6px 6px 12px #888; box-shadow:6px 6px 12px #888;
}
.euler_quest_nobg {
    border-left:0.3em solid blue;
    border-radius:3px;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
  .euler_rep_good {
    border-left:0.3em solid #008000;
    border-radius:3px;
    background-color:#c0e6c0ab;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.3em;
    -moz-box-shadow: 6px 6px 12px #888; -webkit-box-shadow: 6px 6px 12px #888; box-shadow:6px 6px 12px #888;
}  
.euler_rep_good_nobg {
    border-left:0.3em solid #008000;
    border-radius:3px;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.3em;
  
}  
.euler_answer {
    border-left:0.3em solid grey;
    border-radius:3px;
    background-color:#f0f0f0;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.3em;
    -moz-box-shadow: 6px 6px 12px #888; -webkit-box-shadow: 6px 6px 12px #888; box-shadow:6px 6px 12px #888;
}  
.euler_answer_nobg {
    border-left:0.3em solid grey;
    border-radius:3px;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.3em;
}  
.euler_rep_bad {
    border-left:0.3em solid #b50000;
    border-radius:3px;
    background-color:#ffe6e6;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.3em;
    -moz-box-shadow: 6px 6px 12px #888; -webkit-box-shadow: 6px 6px 12px #888; box-shadow:6px 6px 12px #888;
} 
.euler_rep_bad_nobg {
    border-left:0.3em solid #b50000;
    border-radius:3px;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.3em;
} 
.euler_encadre_good {
    border:1px solid #008000;
    border-radius:3px;
    padding:0.3em;
} 
.euler_answer_recall{
  color:#6a6969;
} 

.euler_rep_prec{
    border-left:0.3em solid #996f00;
    border-radius:3px;
    background-color:#fff2da;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.3em;
    -moz-box-shadow: 6px 6px 12px #888; -webkit-box-shadow: 6px 6px 12px #888; box-shadow:6px 6px 12px #888;
}  
.euler_rep_prec_nobg{
    border-left:0.3em solid #996f00;
    border-radius:3px;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.3em;
}  
/*** Moins de décalage sur listes puces ***/
ul.euler_ul{
  padding-left: 1.2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
ol.euler_ol{
  padding-left: 1.2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
ul.euler_ul_check{
  padding-left: 0.5em;
  padding-top: 0.3em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

/*** Moins de padding sur la partie answer analysis **/
.answer_analysis .content{
  padding:0.2em;
}

/*** Fieldset pour bloc checkboxes et radios ***/
.euler_field{
  border:0;
  padding:0;
}
/*** Pour indiquer cases cochées ou bouton radio cliqué après envoi de la réponse***/
.euler_box_checked:before{
  content : "\2611";
  /*content : "\2705";*/
  font-size:1.75em;
  margin-right:0.25em;
 }
.euler_box_nochecked:before{
  content : "\002610";
  font-size:1.75em;
  margin-right:0.25em;
 }
 .euler_radio_checked:before{
  content : "\25C9";
  font-size:1.45em;
  margin-right:0.25em;
 }
.euler_radio_nochecked:before{
  /*content:"\1F518";*/
  content : "\25CE";
  font-size:1.45em;
  margin-right:0.25em;
 }
 
/***** Symboles statut réponse dans statement et dans les feedbacks ****/ 
.sigle{
  margin:0.4em;
}
.tick:before{
  content : "\002713";
  color:#008000;
  font-weight:bold;
  font-size:1.3em;
}
.cross:before{
  content : "\002717";
  color:#b50000;
  font-weight:bold;
  font-size:1.3em;
}
.approx:before{
  content : "\002248";
  color:#996f00;
  font-weight:bold;
  font-size:1.3em;
}
span.tick::before {
  font-size:1.8em;
}
span.cross::before {
  font-size:1.8em;
}
span.forget::before {
  content: "\02205";
  font-size:1.8em;
  padding-left:0.8em;
}
div.tick::before {
  font-size:2em;
  position: absolute;
  left: 0.2em;
  top: 0;
  height: 100%;
  display: grid;
  place-items: center;
  box-sizing:border-box;
}
div.cross::before {
  font-size:2em;
  position: absolute;
  left: 0.2em;
  top: 0;
  height: 100%;
  display: grid;
  place-items: center;
  box-sizing:border-box;
}
div.approx::before {
  font-size:2em;
  position: absolute;
  left: 0.2em;
  top: 0;
  height: 100%;
  display: grid;
  place-items: center;
  box-sizing:border-box;
}
div.tick,div.cross,div.approx {
  position: relative;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: 0 0;
  overflow: hidden;
  padding-left:2.5em;
}
.wims_msg.tick{
  background-color: #c0e6c0ab;
}
.wims_msg.cross{
  background-color: #ffe6e6;
}
.wims_msg.approx{
  background-color: #fff2da;
} 
.wims_msg.warning::before{
color:orange;
padding-right:0.3em;
}
/****** crédit *****/
.euler_credit{
  font-size:.65em;
  font-weight:bold;
  color:#6c6c6c;
  font-style:italic
}
/*** Touche clavier et calculatrice **/
.calculator{
  font-weight: bold;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 0.15em;
  background-color: lightgrey;
}
/*** Modif Légende couleurs***/
li.oef_indgood::before {
  content: "\2713";
  font-size: 2em;
  line-height: 1.2rem;
  padding-right:0.1em;
}
li.oef_indbad::before {
  content: "\2717";
  font-size: 2em;
  line-height: 1.2rem;
  padding-right:0.1em;
}
li.oef_indforget::before {
  content: "\02205";
  font-size: 2em;
  line-height: 1.2rem;
  padding-right:0.1em;
}
</style>
