<style>
/*.CodeMirror {height:100px !important;}*/
.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;font-size: 2em;}
.CodeMirror pre {box-shadow: none !important;}
.wims_editor{display:inline-block;vertical-align:top;}
.exec{overflow: auto;display:inline-block;}
.exec > pre {background-color: #ffb795;overflow: auto;}
.box{overflow: auto;display:inline-block;}
.marker{background-color:rgba(255, 255, 0, 1) !important;}

.etape {
  background-color: var(--wims_ref_button_bgcolor);
  padding: 10px;
  margin: 10px;
width: 150px;
border-radius : 10px;
border: 2px solid #393b40;
font-weight:bold;
text-align:center;
text-indent:0px;/* decalage de la première ligne */
}

input{font-size: 18px;
background-color:var(--wims_bgcolor);
border:1px dotted var(--wims_ref_bgcolor);
border-radius:5px;}

.encadre {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 10px;
  padding: 30px;
  border-radius: 40px 0px 40px 0px;
  line-height: 2em;
  background-color: var(--wims_bgcolor);
  text-indent: 0px;
}
#haut {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: auto;
  padding: 10px;
  background: var(--wims_ref_bgcolor);
  width: 650px;
  height: auto;
  text-indent: 0px;
}
#boited {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 30px;
  padding: 10px;
  background: var(--wims_ref_bgcolor);
  float: right;
  width: auto;
  height: auto;
  text-indent: 0px;
  text-align: center;
}
#boiteg {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 30px;
  padding: 10px;
  background: var(--wims_ref_bgcolor);
  float: left;
  width: auto;
  height: auto;
  text-indent: 0px;
  text-align: center;
}
p.problematique {
  color: var(--wims_ref_bgcolor);
  font-size: 200%;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
.enonce {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 10px;
  padding: 10px;
  background-color: var(--wims_bgcolor);
  border-radius: 0px 40px 0px 40px;
  text-indent: 0px;
}
.enonce::first-letter {
  border: 1px solid var(--wims_ref_bgcolor);
  margin: 1px;
  padding: 1px;
  font-size: x-large;
  font-weight: bold;
  background-color: var(--wims_bgcolor);
  line-height: 2em;
  color: #000000;
  text-indent: 30px;
}
.question {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 10px;
  padding: 10px;
  background-color: #0001;
  border-radius: 0px 10px 0px 10px;
  border-style: dashed;
  text-indent: 0px;
  line-height: 2em;
}
.jsxgraph {
text-indent:2px;/*Compense l'élément border*/
}

.solution{
  background-color: var(--wims_ref_bgcolor);
  padding: 10px;
  margin: 10px;
border-radius : 0 40px 0 40px;
border: 6px double var(--wims_ref_bgcolor);

text-indent:30px;
color: white;
}

.jsx {
     border: 2px solid #393b40;
     margin: 1px;
     padding: 1px;
     background-color: #e6ebff;
     border-radius: 4px;
         }
</style>
