<style>

/*** Pour empêcher des coupures dans des formules constituées de LaTeX et texte non LaTeX. A mettre dans un span ***/
.insecable {
  white-space: nowrap;
}

/**** div avec liserés de couleur et background ****/
.euler_quest {
    border-left:0.3em solid blue;
    border-radius:3px;
    background-color:#e3eeff;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    -moz-box-shadow: 6px 6px 12px #888; -webkit-box-shadow: 6px 6px 12px #888; box-shadow:6px 6px 12px #888;
}
.euler_quest_nobg {
    border-left:0.3em solid blue;
    border-radius:3px;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
  .euler_rep_good {
    border-left:0.3em solid #08c008;
    border-radius:3px;
    background-color:#c0e6c0ab;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.8em;
    -moz-box-shadow: 6px 6px 12px #888; -webkit-box-shadow: 6px 6px 12px #888; box-shadow:6px 6px 12px #888;
}  
.euler_rep_good_nobg {
    border-left:0.3em solid #08c008;
    border-radius:3px;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.8em;
  
}  
.euler_answer {
    border-left:0.3em solid grey;
    border-radius:3px;
    background-color:#f0f0f0;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.8em;
    -moz-box-shadow: 6px 6px 12px #888; -webkit-box-shadow: 6px 6px 12px #888; box-shadow:6px 6px 12px #888;
}  

.euler_rep_bad {
    border-left:0.3em solid red;
    border-radius:3px;
    background-color:#ffe6e6;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.8em;
    -moz-box-shadow: 6px 6px 12px #888; -webkit-box-shadow: 6px 6px 12px #888; box-shadow:6px 6px 12px #888;
} 



</style>
