<style>
.sp_image {position:relative;display:inline-block;width:731px;height:420px;}
.sp_image input{margin:0;padding:0;position:absolute;}
.sp_image div{margin:0;padding:0;position:absolute;}
.sp_image textarea{margin:0;padding:0;position:absolute;}
.sp_image> input{margin:0;position:absolute;}
.sp_image #reply19,#reply29,#ana19,#ana29{left:635px;top:365px;z-index:2;font-size:20px;}
.sp_image #reply18,#reply28,#ana18,#ana28{left:635px;top:275px;z-index:2;font-size:20px;}
.sp_image #reply17,#reply27,#ana17,#ana27{left:635px;top:185px;z-index:2;font-size:20px;}
.sp_image #reply16,#reply26,#ana16,#ana26{left:635px;top:95px;z-index:2;font-size:20px;}
.sp_image #reply15,#reply25,#ana15,#ana25{left:290px;top:280px;z-index:2;font-size:20px;}
.sp_image #reply14,#reply24,#ana14,#ana24{left:290px;top:250px;z-index:2;font-size:20px;}
.sp_image #reply13,#reply23,#ana13,#ana23{left:290px;top:175px;z-index:2;font-size:20px;}
.sp_image #reply12,#reply22,#ana12,#ana22{left:290px;top:145px;z-index:2;font-size:20px;}
.sp_image #reply11,#reply21,#ana11,#ana21{left:40px;top:230px;z-index:2;font-size:20px;}
.sp_image #reply10,#reply20,#ana10,#ana20{left:40px;top:200px;z-index:2;font-size:20px;}
</style>
