<style>

.affichage{color: var(--wims_ref_button_bgcolor);}
table,th, td
{border: 0px solid black;}
.etape {
  background-color: var(--wims_ref_button_bgcolor);
  padding: 10px;
  margin: 10px;
  width: 150px;
  border-radius : 10px;
  font-weight:bold;
  text-align:center;
  text-indent:0px;/* decalage de la première ligne */
}
.texte{margin: auto;
width: 250px;
border: 2px solid #393b40;
border-radius:5px;
font-weight:bold;}

.instruction {
  border: 2px solid var(--wims_ref_bgcolor);
  width: 300px;
  margin: auto;
  padding: 20px;
  background-color: var(--wims_ref_button_bgcolor);
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 10px;
  text-indent: 0px;
  text-align: center;
  line-height: 2em;
}
span.bouton {
font-size: 150%;
margin: 20px;
padding: 10px;
text-decoration: none;
color:#ffffff;
-moz-box-shadow: 0px 0px 10px var(--wims_ref_button_bgcolor);
-webkit-box-shadow: 0px 0px 10px var(--wims_ref_button_bgcolor);
-o-box-shadow: 0px 0px 10px var(--wims_ref_button_bgcolor);
box-shadow: 0px 0px 10px var(--wims_ref_button_bgcolor);
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
border: 1px solid var(--wims_ref_button_bgcolor);
background:var(--wims_ref_button_bgcolor);
}
span.bouton:hover{
cursor: pointer;
}
span.bouton:active{
position: static;
  top: 1px;
}

input, textarea {font-size: 18px;
background-color: var(--wims_bgcolor);
border:1px dotted var(--wims_ref_bgcolor);
border-radius:5px;}
.encadre {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 10px;
  padding: 30px;
  border-radius: 40px 0px 40px 0px;
  line-height: 2em;
  background-color: var(--wims_bgcolor);
  text-indent: 0px;
}
#haut {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: auto;
  padding: 10px;
  background: var(--wims_ref_bgcolor);
  width: 650px;
  height: auto;
  text-indent: 0px;
}
#boited {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 30px;
  padding: 10px;
  background: var(--wims_ref_bgcolor);
  float: right;
  width: auto;
  height: auto;
  text-indent: 0px;
  text-align: center;
}
#boiteg {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 30px;
  padding: 10px;
  background: var(--wims_ref_bgcolor);
  float: left;
  width: auto;
  height: auto;
  text-indent: 0px;
  text-align: center;
}
.conteneur-onglets 
{
margin: 0;
padding:0 0 0 5px;
}
.onglet
{
display:inline-block;
margin:5px 2px 0 0px;
padding:5px 10px ;
border:1px solid var(--wims_ref_bgcolor);
border-bottom:none;
border-radius:5px 5px 0 0;
-webkit-border-radius:4px 4px 0 0;
-moz-border-radius:4px 4px 0 0;
/*color:#AAA; vire couleur grise*/
cursor: pointer;
font-weight:bold;
text-indent:0px;
}
.inactif
{
background:#0001;
}
.inactif:hover
{
background:var(--wims_ref_bgcolor);
}
.affiche-contenu-1
{
background:var(--wims_ref_bgcolor);
border-bottom:2px solid var(--wims_ref_bgcolor);
padding-bottom:4px;
cursor:text;
}
.contenu
{
background-color:var(--wims_ref_bgcolor);
margin-top:-1px;
padding:5px;
display:none;
border:1px solid var(--wims_ref_bgcolor);
/*border-radius:4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;*/
border-radius:5px 50px 5px 50px;
-webkit-border-radius:4px 40px 4px 40px;
-moz-border-radius:4px 40px 4px 40px;
/*color:#555; vire la colour grise*/
cursor: text;
}

p.problematique {
  color: var(--wims_ref_bgcolor);
  font-size: 200%;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
.enonce {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 10px;
  padding: 10px;
  background-color: var(--wims_bgcolor);
  border-radius: 0px 40px 0px 40px;
  text-indent: 0px;
}
.enonce::first-letter {
  border: 1px solid var(--wims_ref_bgcolor);
  margin: 1px;
  padding: 1px;
  font-size: x-large;
  font-weight: bold;
  background-color: var(--wims_bgcolor);
  line-height: 2em;
  color: #000000;
  text-indent: 30px;
}
.question {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 10px;
  padding: 10px;
  background-color: #0001;
  border-radius: 0px 10px 0px 10px;
  border-style: dashed;
  text-indent: 0px;
  line-height: 2em;
}
.jsxgraph {
text-indent:2px;/*Compense l'élément border*/
}

.solution{
  background-color: var(--wims_ref_bgcolor);
  padding: 10px;
  margin: 10px;
  border-radius : 0 40px 0 40px;
  border: 6px double var(--wims_ref_bgcolor);
  text-indent:30px;
  color: white;
}
table
{
border-collapse:collapse;
}
#tab{text-align:center;
overflow: auto;}
table,th, td
{
border: 1px solid black;
}
.jsx {
     border: 2px solid var(--wims_ref_bgcolor);
     margin: 1px;
     padding: 1px;
     background-color: #e6ebff;
     border-radius: 4px;
         }
</style>
