<style>
input, textarea {font-size: 18px;
background-color: var(--wims_bgcolor);
border:1px dotted var(--wims_ref_bgcolor);
border-radius:5px;}
.etape {
  background-color: var(--wims_ref_button_bgcolor);
  padding: 10px;
  margin: 10px;
width: 150px;
border-radius : 10px;
font-weight:bold;
text-align:center;
text-indent:0px;/* decalage de la première ligne */
}

a.bouton {
font-size: 150%;
 margin: 40px;
padding: 20px;
text-decoration: none;
color:#ffffff;
-moz-box-shadow: 0px 0px 10px #343434;
-webkit-box-shadow: 0px 0px 10px #343434;
-o-box-shadow: 0px 0px 10px #343434;
box-shadow: 0px 0px 10px #343434;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
border: 1px solid #393b40;
background:#acb0bf;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="acb0bf", endColorstr="73767f"); /* Pour IE seulement et mode gradient à linear */
background-image: -webkit-gradient(linear, left top, left bottom, from(#acb0bf), to(#73767f));
background-image: -moz-linear-gradient(top center, #acb0bf, #73767f);
background-image: -o-linear-gradient(top, #acb0bf, #73767f); /*uniquement en mode linear*/
}
a.bouton:hover{
cursor: pointer;
}
a.bouton:active{
position: relative;
  top: 1px;
}
a.lien {
position:relative;
text-decoration: none;
color: var(--wims_ref_bgcolor);
border: 1px solid transparent;
border-bottom: 1px dotted var(--wims_ref_bgcolor);
}
a.lien:hover {
border: 1px solid var(--wims_ref_bgcolor);
}
a.lien span {
display: none;
}
a.lien:hover span {
display:block;
position:absolute;
top:2em; left:2em;
width: 7em;
border:1px solid var(--wims_ref_bgcolor);
background-color:var(--wims_bgcolor);
color:var(--wims_ref_bgcolor);
text-align: center;
font-weight:normal;
padding: 1px;
text-indent:0px;
}
.question {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 10px;
  padding: 10px;
  background-color: #0001;
  border-radius: 0px 10px 0px 10px;
  border-style: dashed;
  text-indent: 0px;
  line-height: 2em;
}
.consigne {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 10px;
  padding: 10px;
  background-color: var(--wims_bgcolor);
  border-radius: 0px 40px 0px 40px;
  text-indent: 0px;
}
.consigne:first-letter {
  border: 1px solid var(--wims_ref_bgcolor);
  margin: 1px;
  padding: 1px;
  font-size: x-large;
  font-weight: bold;
  background-color: var(--wims_ref_bgcolor);
  line-height: 2em;
  color: var(--wims_bgcolor);
  text-indent: 30px;
}
#haut {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: auto;
  padding: 10px;
  background: var(--wims_ref_bgcolor);
  width: 650px;
  height: auto;
  text-indent: 0px;
}
#boited {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 30px;
  padding: 10px;
  background: var(--wims_ref_bgcolor);
  float: right;
  width: auto;
  height: auto;
  text-indent: 0px;
  text-align: center;
}
#boiteg {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 30px;
  padding: 10px;
  background: var(--wims_ref_bgcolor);
  float: left;
  width: auto;
  height: auto;
  text-indent: 0px;
  text-align: center;
}
p.problematique {
  color: var(--wims_ref_bgcolor);
  font-size: 200%;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
.solution {
background-color: var(--wims_ref_bgcolor);
padding: 10px;
margin: 10px;
-moz-border-radius : 0 40px 0 40px;
border: 2px solid var(--wims_bgcolor);
text-align:justify;
text-indent:30px;
color: white;
}
.cours {
color:green;
font-size:150%;
font-weight: bold;
text-align:justify;
}
.indication {
margin : 10px;
padding : 30px;
background-color : var(--wims_ref_bgcolor);
border: 2px solid var(--wims_bgcolor);
-moz-border-radius : 0 10px 0 10px;
text-align:justify;
}
.aide {
margin : 10px;
padding : 30px;
background-color : var(--wims_ref_bgcolor);
border: 2px solid var(--wims_bgcolor);
-moz-border-radius : 0 10px 0 10px;
text-align:justify;
}
/*td { text-align: center;vertical-align: text-center;}*/
/*table,th, td{border: 1px solid black;}*/
ul.circle {list-style-type:circle;}
</style>
