<style>
input, textarea {font-size: 18px;
  background-color:var(--wims_bgcolor);
  border:1px solid var(--wims_ref_bgcolor);
  border-radius:5px;}

.jxgbox {margin-left:auto;margin-right:auto;text-indent:0px;border:1px;}
.jsxgraph_button {text-align:center;text-indent:0px}

a.lien {
position:relative; 
  text-decoration: none;
  color: #719DB2;
  border: 1px solid transparent;     /* Les bordures droites et gauches qui apparaîtront au passage de la souris déplaceraient   */
  border-bottom: 1px dotted #3a7f7F; /*   le texte de deux pixels vers la droite. C'est pourquoi on les définit tout le temps à  */
}                                    /*   1 pixel mais invisibles au repos. Note : "transparent" ne fonctionne pas sous IE inferieur 7.  */
a.lien:hover {
    border: 1px solid var(--wims_ref_bgcolor);
       }
a.lien span{display: none}

a.lien:hover span{ 
  display:block; 
  position:absolute;
  top:2em; left:2em; width:9em;
  border:1px solid var(--wims_ref_bgcolor);
  background-color:var(--wims_bgcolor);
  color:var(--wims_ref_bgcolor);
  text-align: center;
  font-weight:normal;
  padding:1px;
}
.image {
  background-color: var(--wims_ref_bgcolor);
  padding: 30px;
  margin: 30px;
  border: 2px solid var(--wims_ref_bgcolor);
  width: 18000px;/* ordre de gthumb dimension de image */
  height: 600px;
  overflow: auto;
}
.etape {
   background-color: var(--wims_ref_button_bgcolor);
  padding: 10px;
  margin: 10px;
  width: 150px;
  border-radius : 10px;/* Les bordures arrondies */
  border: 2px solid var(--wims_ref_bgcolor);
  font-weight:bold;
  text-align:center;/* texte justifié */
  text-indent:0px;/* decalage de la première ligne */
}
.question {
  margin : 10px;
  padding : 10px;
  background-color : #0001;
  -moz-border-radius : 0 10px 0 10px;
  border: 0px solid var(--wims_ref_bgcolor);/*0px car engendre un decalage avec jsxgraph*/
  text-indent:30px;/* decalage de la première ligne */
  text-align:justify;/* texte justifié */
}
.consigne {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 10px;
  padding: 10px;
  background-color: var(--wims_bgcolor);
  border-radius: 0px 40px 0px 40px;
  text-indent: 0px;
}

#haut {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: auto;
  padding: 10px;
  background: var(--wims_ref_bgcolor);
  width: 650px;
  height: auto;
  text-indent: 0px;
}
#boited {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 30px;
  padding: 10px;
  background: var(--wims_ref_bgcolor);
  float: right;
  width: auto;
  height: auto;
  text-indent: 0px;
  text-align: center;
}
#boiteg {
  border: 2px solid var(--wims_ref_bgcolor);
  margin: 30px;
  padding: 10px;
  background: var(--wims_ref_bgcolor);
  float: left;
  width: auto;
  height: auto;
  text-indent: 0px;
  text-align: center;
}
p.problematique {
  color: var(--wims_ref_bgcolor);
  font-size: 200%;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

p.special_letter:first-letter {
  font-size: x-large;
  font-weight: bold;
  border: 1px solid var(--wims_ref_bgcolor);
  background-color: var(--wims_ref_bgcolor);
  margin: 1px;
  padding: 1px;
  line-height: 2em;
  color: var(--wims_bgcolor);}
.solution {
  background-color: var(--wims_ref_bgcolor);
  padding: 10px;
  margin: 10px;
  -moz-border-radius : 0 40px 0 40px;
  border: 2px solid var(--wims_bgcolor);
  text-align:justify;
  text-indent:30px;
  color: white;
}
.cours{
      color:var(--wims_bgcolor);
      font-size:150%;
      font-weight: bold;
      text-align:justify;/* texte justifié */
        }
.indication {
  margin : 10px;
  padding : 30px;
  background-color : var(--wims_ref_bgcolor);
  border: 2px solid var(--wims_bgcolor);
  -moz-border-radius : 0 10px 0 10px;
  text-align:justify;
}
.aide {
  margin : 10px;
  padding : 30px;
  background-color : var(--wims_ref_bgcolor);
  border: 2px solid var(--wims_bgcolor);
  -moz-border-radius : 0 10px 0 10px;
  text-align:justify;
}
.Table{display: inline-block;
width: auto;
height: auto;
border: 2px solid #393b40;
padding: 10px;/* marge interne */
margin: 5px;/* marge externe */
text-align:center;/* image centrée */
text-indent:0px;
}
</style>
