<style>
/**** div avec liserés de couleur et background ****/
.euler_quest {
    border-left:0.3em solid blue;
    border-radius:3px;
    background-color:#e3eeff;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    -moz-box-shadow: 6px 6px 12px #888; -webkit-box-shadow: 6px 6px 12px #888; box-shadow:6px 6px 12px #888;
}
.euler_quest_nobg {
    border-left:0.3em solid blue;
    border-radius:3px;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
  .euler_rep_good {
    border-left:0.3em solid green;
    border-radius:3px;
    background-color:#c0e6c0ab;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.3em;
    -moz-box-shadow: 6px 6px 12px #888; -webkit-box-shadow: 6px 6px 12px #888; box-shadow:6px 6px 12px #888;
}  
.euler_rep_good_nobg {
    border-left:0.3em solid green;
    border-radius:3px;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.3em;
  
}  
.euler_answer {
    border-left:0.3em solid grey;
    border-radius:3px;
    background-color:#f0f0f0;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.3em;
    -moz-box-shadow: 6px 6px 12px #888; -webkit-box-shadow: 6px 6px 12px #888; box-shadow:6px 6px 12px #888;
}  
.euler_answer_nobg {
    border-left:0.3em solid grey;
    border-radius:3px;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.3em;
}  
.euler_rep_bad {
    border-left:0.3em solid red;
    border-radius:3px;
    background-color:#ffe6e6;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.3em;
    -moz-box-shadow: 6px 6px 12px #888; -webkit-box-shadow: 6px 6px 12px #888; box-shadow:6px 6px 12px #888;
} 
.euler_rep_bad_nobg {
    border-left:0.3em solid red;
    border-radius:3px;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.3em;
} 
.euler_encadre_good {
    border:1px solid green;
    border-radius:3px;
    padding:0.3em;
} 
.euler_answer_recall{
  color:#6a6969;
} 

.euler_rep_prec{
    border-left:0.3em solid orange;
    border-radius:3px;
    background-color:#fff2da;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.3em;
    -moz-box-shadow: 6px 6px 12px #888; -webkit-box-shadow: 6px 6px 12px #888; box-shadow:6px 6px 12px #888;
}  
.euler_rep_prec_nobg{
    border-left:0.3em solid orange;
    border-radius:3px;
    padding:0.3em 0.3em 0.3em 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left:0.3em;
}
.indication{
  font-weight:bold;color:#009999;
  margin-bottom: 0.8em;
  margin-top: 0.8em;
}
.quest{
  color:blue;
  font-weight:bold;
  margin:0;
}
/***** Syboles dans statement et dans les feedbacks ****/ 
.tick:before{
  content : "\002713";
  color:green;
  font-weight:bold;
  font-size:1.3em;
  border-radius:4px;
  border-style:solid;
  padding:0.1em;
}
.croix:before{
  content : "\002717";
  color:red;
  font-weight:bold;
  font-size:1.3em;
  border-radius:4px;
  border-style:solid;
  padding:0.1em;
}
.approx:before{
  content : "\002248";
  color:orange;
  font-weight:bold;
  font-size:1.3em;
  border-radius:4px;
  border-style: solid;
  padding:0.1em;
}
.wims_msg.tick{
  background-color: #c0e6c0ab;
}
.wims_msg.croix{
  background-color: #ffe6e6;
}
.wims_msg.approx{
  background-color: #fff2da;
} 


/*** Moins de décalage sur listes puces ***/
ul.euler_ul{
  padding-left: 1.2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
ol.euler_ol{
  padding-left: 1.2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
ul.euler_ul_check{
  padding-left: 0.5em;
  padding-top: 0.3em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
/*** Fieldset pour bloc checkboxes et radios ***/
.euler_field{
  border:0;
  padding:0;
}
/*** Moins de padding sur la partie answer analysis **/
.answer_analysis .content{
  padding:0.2em;
}

.euler_box_checked:before{
  content : "\002611";
  font-size:1.2em;
  margin-right:0.25em;
 }
.euler_box_nochecked:before{
  content : "\002610";
  font-size:1.2em;
  margin-right:0.25em;
 }
 .euler_radio_checked:before{
  content : "\0025C9";
  margin-right:0.25em;
 }
.euler_radio_nochecked:before{
  content : "\0025CE";
  margin-right:0.25em;
 }
</style>
